body.active-modal {
    overflow-y: hidden;
}

.flex-container {
    display: flex;
    gap: 25px;
    padding:0 5%;
    font-size: 17px;
    top:50%;
}

.display-projects-1, .display-projects-2{
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow:hidden;
    border-radius:7px;
}

.display-projects-1 img.profile-pic, .display-projects-2 img.profile-pic {
    transition: transform 0.3s ease; /* Smooth transition for scaling */
}
  
.display-projects-1:hover img.profile-pic, .display-projects-2:hover img.profile-pic {
    transform: scale(1.25); /* Scale the image on hover */
}

.btn-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color:white!important;
    background-color: black!important;
    padding:10px;
    cursor:pointer;
    opacity: 78%;
    font-size:20px;
    font-weight: bold;
    border-radius: 5px;
    border-style:none;
    z-index:1;
}

.btn-modal:hover{
    opacity: 100;
}

.modal {
    background-color: rgba(0,0,0,0.3);
    display:flex;
    height:100vh;
    width:100vw;
    top:0;
    left:0;
    align-items:center;
    justify-content: center; 
    position:fixed;
    transition: opacity 0.3s ease;
    z-index:2;
}

.overlay {
    background: #777d7e;
    opacity: 30%;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}
.modal-content {
    position: fixed;
    /* margin-top:12px; */
    background: white;
    color:black;
    height: auto;
    max-height:95%;
    width: 72%;
    max-width:100%;
    padding:20px 55px;
    border-radius: 5px;
    overflow: auto;
    text-decoration: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* margin-bottom:15px; */
    text-align: justify;
}

.modal-content h1{
    text-align: center;
    color:#687EFF;
    margin-bottom:10px;
}

.close-modal {
    position:absolute;
    right:12px;
    top:18px;
    width:30px;
    height:30px;
    font-size:30px;
    font-weight:bold;
    cursor:pointer;
    color:rgba(0,0,0,0.3);
    border: none;
    background-color: white;
}

.close-modal:hover{
    color:#687EFF;
}

img{
    vertical-align: middle;
    border-style:none;
}

.bullet_points{
    padding-left: 25px;
}
.bullet_points li{
    font-size: inherit;
    padding-left: 5px;
}
.link{
    color:#687EFF;
    font-size:inherit;
    text-decoration: underline;
    margin-left: 5px;
}

.link:hover{
    font-style: italic;
}

.video{
    height: auto;
    width: 70%;
    margin: auto;
    margin-bottom:15px;
    display:flex;
    align-items:center;
}

.profile-pic{
    width:100%;
}

.modal-content::-webkit-scrollbar {
    width: 11px;               /* width of the entire scrollbar */
    height: 11px;
}
  
.modal-content::-webkit-scrollbar-track {
    background: white;        /* color of the tracking area */
  }
  
.modal-content::-webkit-scrollbar-thumb {
    background-color:#687EFF ;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid white;  /*creates padding around scroll thumb*/
  }

  .design-concepts-container{
    display:flex;
    flex-direction: row;
    padding: 20px 240px;
    align-items: center;
    justify-content: center;
  }

  .design-concepts{
    width:65%;
    padding:0 12px;
}

.modal-imgs{
    width:80%;
    padding-top:0px;
    display:block;
    margin:0 auto;
}


.robert_img{
    width:60%;
    padding:15px;
    margin:auto;
    display:block;
}

.slider-container{
    margin:auto;
    padding-top:15px;
}
 
p{
    padding: 10px 20px 10px 20px;
 }

.poster{
    width:100%;
    padding:0 10px;
}

.display-projects-2:nth-child(2),
.display-projects-2:nth-child(3),
.display-projects-2:nth-child(4) {
  visibility: hidden;
}
