header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 5%;
    color:black;
    background-image: linear-gradient(to right, #B6FFFA, #80B3FF);
    /* #D5F2F8, #9BD8DB */
    /* position: fixed; */
}

.name {
    cursor: pointer;
    margin-right: auto;
    font-weight: bold;
    font-size: 30px;
}

.nav_links li{
    font-weight: bold;
    font-size: 19px;
    list-style: none;
    display: inline-block;
    padding-left:20px;
}

.nav_links a {
    text-decoration: none;
    color:black;
}
/* #024F55 */
.nav_links li a:hover {
    /* transition: all 0.2s ease 0s; */
    color: #52688F;
}
