@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Barlow','Roboto','Lato',monospace, sans-serif; 
}

/* .overall_page{
    background-color: ivory;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
} */

body{
    min-height:100vh;
    /* min-width:1100px; */
    display:flex;
    flex-direction: column;
    background-color: white;
    overflow:hidden;
}

/* body::-webkit-scrollbar { */
  /* width: 10px;               width of the entire scrollbar */
  /* height: 10px; */
/* } */

/* body::-webkit-scrollbar-track { */
  /* background: white;        color of the tracking area */
/* } */

/* body::-webkit-scrollbar-thumb { */
  /* background-color: #687EFF;    color of the scroll thumb */
  /* border-radius: 20px;       roundness of the scroll thumb */
  /* border: 3px solid white;  creates padding around scroll thumb */
/* } */

.skills{
    text-align: center;
    padding-top:5px;
    font-size: 15px;
}

.title{
  padding-top: 10px;
  text-align:center;
  font-size: 22px;
  font-weight: bold;
}

.home-welcome{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.home-content-container{
    display:flex;
    flex-direction: row;
    gap:30px;
    padding:15px 235px;
    align-items: center;
    justify-content: center;
    text-align:justify;
    /* background-color: red; */
}
.home-text{
  /* margin-left:-50px; */
  font-size: 15px;
}

.home-images{
  overflow-x: hidden;
}

.featured-projects{
  /* background-color: #80B3FF; */
  background-image: linear-gradient(to right, #B6FFFA, #80B3FF);
  padding-bottom: 20px;
}

.wrapper {
  overflow: auto;
  /* white-space: normal; */
  width: 100vw;
  height: 86vh; /*510px*/
}

.wrapper::-webkit-scrollbar {
  width: 10px;               /* width of the entire scrollbar */
  height: 10px;
}

.wrapper::-webkit-scrollbar-track {
  background: white;        /* color of the tracking area */
}

.wrapper::-webkit-scrollbar-thumb {
  background-color: #687EFF;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid white;  /*creates padding around scroll thumb*/
}
/* .wrapper::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  background: red;
} */

/* .wrapper::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #595959;
} */

/* .wrapper p {
  display: inline;
  background: rgba(0, 0, 0, 0.12);
  color: transparent;
} */


.resume-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
}
.btn-resume {
  padding: 8px 20px;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-resume:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
    /* #B6FFFA,
    #98E4FF,
    #80B3FF,
    #687EFF */
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-btn-resume 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-btn-resume {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.btn-resume:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.pdf-container{
  width: 100%;
  height: 538px;
  /* overflow: hidden; */
}

.pdf{
  width: 100%;
  height: 100%;
  border: none;
}